body
{
	margin: 0;
	padding: 0;
}

#code
{
	width: 304px;
	height: 100px;
}

#toolbar, #toolbar input
{
	height: 20px;
}

#toolbar
{
	padding: 4px 0;
}

.console div.jquery-console-inner
{
	width: 306px;
	height: 200px;
}
