<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
    </pages>
    <httpHandlers>
      <add verb="GET" path="console.ashx" validate="false" type="Tim.TryFSharp.Web.ConsoleHandler, Tim.TryFSharp.Web"/>
      <add verb="POST" path="exec.ashx" validate="false" type="Tim.TryFSharp.Web.ExecHandler, Tim.TryFSharp.Web"/>
    </httpHandlers>
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="console" verb="GET" path="console.ashx" type="Tim.TryFSharp.Web.ConsoleHandler, Tim.TryFSharp.Web"/>
      <add name="exec" verb="POST" path="exec.ashx" type="Tim.TryFSharp.Web.ExecHandler, Tim.TryFSharp.Web"/>
    </handlers>
  </system.webServer>
</configuration>
