<div id="header">
    <div id="header-inner">
        <div id="header-content">
            {{#indexTitle}}
            <h1 id="header-name"><a href="http://tryfs.net/" accesskey="1">{{title}}</a></h1>
            {{/indexTitle}}
            {{^indexTitle}}
            <h1 id="header-name"><a href="http://tryfs.net/" accesskey="1">Try F#</a> {{title}}</h1>
            {{/indexTitle}}
            <h2 id="header-description"></h2>
        </div>
        <div id="header-float">
            <!-- <a href="login.html">Log in</a> -->
        </div>
    </div>
</div>
