<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="sixapart-standard">
<head>
    {{>head}}
</head>
<body id="classic-website" class="mt-main-index layout-wt">
    <div id="container">
        <div id="container-inner">
            {{>header}}

            <div id="fsi">
                <div id="fsi-inner">
                    <div>
                        <textarea id="code" class="console" cols="40" rows="25">let hello who = printfn "Hello %s!" who
hello "world"</textarea></div>
                    <div id="toolbar">
                        <input id="send" type="button" value="Load and Run" /></div>
                    <div id="console" class="console"></div>
                </div>
            </div>

            <div id="content">
                <div id="content-inner">
                    <div id="alpha">
                        <div id="alpha-inner">


                            <div class="entry-asset asset hentry">
                                <div class="asset-header">
                                    <h2 class="asset-name entry-title">Try F# in your web browser</h2>
                                </div>
                                <div class="asset-content entry-content">
                                    <div class="asset-body">
                                        <p><strong>Type some F# code and press the "Load and Run" button.</strong> Alternatively, type an F# expression at the cursor, followed by <code>;;</code>, and press Enter.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-asset asset hentry">
                                <div class="asset-header">
                                    <h2 class="asset-name entry-title">Latest snippets</h2>
                                </div>
                                <div class="asset-content entry-content">
                                    <div class="asset-body">
                                        <ul>
                                    {{#snippets}}
                                            <li><strong><a href="snippets/{{ _id }}">{{ title }}</a></strong> by {{ author }} <abbr class="timeago" title="{{ date }} ">on {{ date }}</abbr></li>
                                    {{/snippets}}
                                            <p><em><a href="snippets/">more snippets...</a></em></p>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="entry-asset asset hentry">
                                <div class="asset-header">
                                    <h2 class="asset-name entry-title">Help! I don't know any F#.</h2>
                                </div>
                                <div class="asset-content entry-content">
                                    <div class="asset-body">
                                        <p>Visit one of these sites to learn how:</p>
                                        <ul>
                                            <li><a href="http://msdn.microsoft.com/en-us/fsharp/default">F# site on MSDN</a></li>
                                            <li><a href="http://tryfsharporg.cloudapp.net/">Try F# at Microsoft Research</a></li>
                                            <li><a href="http://msdn.microsoft.com/library/dd233154.aspx">F# manual on MSDN</a></li>
                                            <li><a href="http://hubfs.net">hubFS: THE place for F#</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                    <div id="beta">
                        <div id="beta-inner">
                            <div class="widget">
                                <div class="widget-content">
This project coded by Tim&nbsp;Robinson
<ul>
<li><img src="/icon-github.png" width="16" height="16" alt="Github" valign="middle"/> <a href="https://github.com/timrobinson/try-fsharp">timrobinson/try-fsharp</a></li>
<li><img src="/icon-twitter.png" width="16" height="16" alt="Twitter" valign="middle"/> <a href="http://twitter.com/tim_g_robinson">@tim_g_robinson</a></li>
<li><img src="/couchdb-icon-16px.png" width="16" height="16" alt="CouchDB" valign="middle"/> Powered by CouchDB</li>
</ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
