<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="sixapart-standard">
<head>
    {{>head}}
</head>
<body id="classic-website" class="mt-main-index layout-wt">
    <div id="container">
        <div id="container-inner">


            <div id="header">
    <div id="header-inner">
        <div id="header-content">


            <h1 id="header-name"><a href="http://tryfs.net/" accesskey="1">Try F#</a> Snippet</h1>
            <h2 id="header-description"></h2>

        </div>
    </div>
</div>


            <div id="content">
                <div id="content-inner">
                    <div id="alpha">
                        <div id="alpha-inner">
                            <div class="entry-asset asset hentry">
                                <div class="asset-header">
                                    <h2 class="asset-name entry-title">{{ title }}</h2>
                                </div>
                                <div class="asset-content entry-content">
                                    <div class="asset-body">
                                        <p>{{ description }}</p>
                                    </div>
                                </div>
                                <div class="asset-footer">
                                    <div class="asset-footer-inner">
                                        <div class="asset-footer-meta">
                                            <p>Posted by {{ author }} <abbr class="timeago" title="{{ date }}">on {{date}}</abbr></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                    <div id="beta">
                        <div id="beta-inner">
                            <div class="widget">
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-text="{{ title }} #fsharp #snippet" data-url="http://tryfs.net/snippets/{{ _id }}">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
                                        {{#link}}<li>Original: <a href="{{ link }}">{{ link }}</a></li>{{/link}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>

             <div id="fsi">
                <div id="fsi-inner">
                    <div>
                        <textarea id="code" class="console" cols="40" rows="25">{{ code }}</textarea></div>
                    <div id="toolbar">
                        <input id="send" type="button" value="Load and Run" /></div>
                    <div id="console" class="console"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
